h2 {
    margin: 0
}

#current-conditions-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

#forecast-conditions-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.dashboard-loaded-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}